<!DOCTYPE html>
<html lang="ru" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <script src="../../static/js/jquery-3.6.0.slim.min.js"></script>
    <link rel="shortcut icon" href="../../../static/app_pictures/icon.ico" type="image/x-icon">
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <link  rel="stylesheet"  href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/all.css">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="../../static/js/jquery-3.6.0.slim.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="../../static/js/signIn.js"> </script>


    <link rel="stylesheet" href="../../../static/css/css.css">
    <script>
    function openNav() {
    document.getElementById("mySidenav").style.width = '100%';
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    </script>

</head>
<body style="height: 100%;" id="bod">
    <div id="mySidenav" class="sidenav" style="z-index:1031;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <h6><a href="/" class=" text-decoration-none">Главная страница</a></h6>
    </div>
    <header id="head" class="py-md-2 fixed-top align-items-center justify-content-center shadow">
    

        <div class="alert alert-warning alert-dismissible fade show" style="z-index: 5050;display:none;position:absolute" role="alert">
            <span class="alertMessage"></span>
                <button type="button" class="close" onclick="closeAlert()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
    <div class="row">

        <div class="col-md-2 col-4 align-self-center justify-content-center text-center">
            <div style="cursor:pointer" class="col-lg-2 align-self-lg-start" onclick="openNav()">☰</div>
        </div>

        <a href="/" class="d-flex col-3 d-none d-md-flex  col-md-8 justify-content-center align-self-center my-sm-2  my-md-0">
            <img class="" width="175" height="42" alt="logo" src="../../static/app_pictures/foodTrackS.png">
        </a>

        <div class="d-flex col-md-2 col-5  align-self-center
        justify-content-sm-center justify-content-md-end justify-content-center
        mt-md-0 mt-sm-2 mt-2">
            <a href="/signUp" class=" text-decoration-none">
                <input type="button" value="Регистрация" class="btn btn-secondary border"/>
            </a>
        </div>
    </div>
</header>

    <section class="pt-5 mt-4 mt-md-4">
        <div class="container-fluid  h-75">
            <div class="row justify-content-center align-items-center h-100  p-3">
                <div class="col-md-3 col-6">
                    <form  class="shadow border"  >
                        <div class="container ">
                            <div class="row ">

                                <div class="mb-3 col ">
                                    <label for="login" class="form-label">Логин</label>
                                    <input type="text" class="form-control" id="login">
                                </div>

                            </div>
                            <div class="row">

                                <div class="mb-3 col">
                                    <label for="password" class="form-label">Пароль</label>
                                    <div class="input-group" id="show_hide_password">
                                        <input class="form-control" type="password" id="password">
                                        <div class="input-group-addon align-self-center m-1">
                                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <input type="button" onclick="sendLoginForm()" class="btn btn-outline-secondary" value="Вход"/>
                            </div>
                        </div>
                    </form>
                    <div class="text-center p-3">
                        <a href="/signUp" style="text-decoration:none;color:#555555">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <section class="">
                <a class="btn btn-outline-light btn-floating m-1 ripple-surface" href="#!" role="button"><i class="fas fa-facebook"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
            </section>

            <section class="">
                <img  src="../../static/app_pictures/foodTrackSplash.png" alt="" width="350" height="auto">
            </section>

            <section class="">
                <p>
                    FoodTrack - это приложение,
                    которое позволяет отслеживать потребление калорий,
                    улучшать свой рацион и достигать спортивных целей!
                </p>
            </section>


            <section class="">
                <div class="row">

                    <div class="col-lg-12 col-md-12 mb-6 mb-md-0">
                        <h5 class="text-uppercase">Карта сайта</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/" class="text-white">Главная страница</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <span style="font-size: 14px">  ©2021 Copyrigth  Трекер калорий FoodTrack</span>&nbsp;<br>Created by @endlesslydivided
        </div>
    </footer>

    <script src="../../../static/js/three.r119.min.js"></script>
    <script src="../../../static/js/vanta.birds.min.js"></script>
    <script>
        VANTA.BIRDS({
            el: "#bod",
            mouseControls: true,
            gyroControls: false,
            touchControls: true,
            minHeight: 100.00,
            minWidth: 100.00,
            scale: 1.00,
            scaleMobile: 1.00,
            backgroundColor: 0xc0c0c0,
            color1: 0xe6cedf,
            color2: 0x8f1bb3,
            colorMode: "lerpGradient",
            birdSize: 1.30,
            wingSpan: 21.00,
            speedLimit: 4.00,
            separation: 47.00,
            alignment: 1.00,
            cohesion: 46.00,
            backgroundAlpha: 0.22,

        })
    </script>
</body>
</html>